p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  background: none;
}
div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: white;
}
h5 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.pictures {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}
footer p {
  color: white !important;
  font-size: 14px;
}
footer {
  width: 100% !important;
}

header {
  width: 100%;
}

/* body {
  animation: myAnim 6s ease 0s 1 normal forwards;
}
@keyframes myAnim {
  0% {
    transform: rotate(-540deg) scale(0);
    opacity: 0;
  }

  100% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }
} */
.character-name {
  color: black;
}
.character-gender {
  color: black;
}
.container-character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}
.container-character img {
  width: 500px;
  height: auto;
}
.li {
  text-decoration: none;
}
@media screen and (max-width: 1440) {
  .sidebar {
    margin-top: -209px !important;
  }
}
@media screen and (max-width: 768px) {
  header {
    width: 880px;
  }
  .header-photo img {
    width: 60px;
    height: 60px;
  }

  .header-text h2 {
    font-size: 14px;
  }

  .header-text p {
    font-size: 14px;
  }
  .main-content p {
    font-size: 14px;
  }
  footer {
    width: 880px !important;
  }
}
.container-character {
  margin-left: 350px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  width: 600px;
  text-align: center;
  margin-top: 20px;
}
.container-character:hover {
  transition: all ease-in;
}
.container-character img {
  width: 300px;
  margin: 0 auto;
}
.container-character span {
  font-size: 20px;
  margin-bottom: 10px;
}
.timeline-event-content p {
  margin-top: 20px;
  margin-left: 20px;
}
.timeline-event-content img {
  width: 100%;
  height: auto;
}
.timeline-event-content-image-1 img {
  width: 500px !important;
  height: 300px !important;
  margin-left: 20px;
}
.films-and-series-content {
  background-color: #020230;
}
.films-and-series-content h2 {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
.timeline-event-content p {
  color: white;
}
.timeline-event-content h5 {
  color: white;
  margin-top: 20px;
  margin-left: 20px;
}
@media screen and (max-width: 425px) {
  .sidebar {
    width: 50% !important;
  }
  .header-photo img {
    width: 50px;
    height: 50px;
  }

  .header-text h2 {
    font-size: 14px;
  }

  .header-text p {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  .header-photo img {
    width: 40px;
    height: 40px;
  }

  .header-text h2 {
    font-size: 14px;
  }

  .header-text p {
    font-size: 14px;
  }
}
